@import 'normalize';

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800);

html{
  box-sizing:border-box;
}

body{
  font-family: Raleway;
  padding:0;
  margin:0;
  // background-color:gold;
}

*
*:before,
*:after{
  box-sizing:inherit;
}

// Grid //

.grid{
  width:100%;
  max-width:1100px;
  margin:0 auto;
}

.grid:before,
.grid:after,
.row:before,
.row:after{
   content: " ";
   display: table;
}

.grid:after,
.row:after{
  clear:both;
}

[class*='col-']{
  width:100%;
  float:left;
  min-height:1px;
}

.col{
  padding: 1em;
  margin:8px;
  // background:white;
  // border-radius:3px;
  // color:turquoise;
  // text-align:center;
}


@media screen and (min-width:320px){
        
.col-wd-1{width:8.33333%;}
.col-wd-2{width:16.6667%;}
.col-wd-3{width:25%;}
.col-wd-4{width:33.33333%;}
.col-wd-5{width:41.66667%;}
.col-wd-6{width:50%;}
.col-wd-7{width:58.33333%;}
.col-wd-8{width:66.66667%;}
.col-wd-9{width:75%;}
.col-wd-10{width:83.33333%;}
.col-wd-11{width:91.66667%;}
.col-wd-12{width:100%;}
        
}

@media screen and (min-width:640px){
        
.col-md-1{width:8.33333%;}
.col-md-2{width:16.6667%;}
.col-md-3{width:25%;}
.col-md-4{width:33.33333%;}
.col-md-5{width:41.66667%;}
.col-md-6{width:50%;}
.col-md-7{width:58.33333%;}
.col-md-8{width:66.66667%;}
.col-md-9{width:75%;}
.col-md-10{width:83.33333%;}
.col-md-11{width:91.66667%;}
.col-md-12{width:100%;}
        
}

@media screen and (min-width:960px){
        
.col-sm-1{width:8.33333%;}
.col-sm-2{width:16.6667%;}
.col-sm-3{width:25%;}
.col-sm-4{width:33.33333%;}
.col-sm-5{width:41.66667%;}
.col-sm-6{width:50%;}
.col-sm-7{width:58.33333%;}
.col-sm-8{width:66.66667%;}
.col-sm-9{width:75%;}
.col-sm-10{width:83.33333%;}
.col-sm-11{width:91.66667%;}
.col-sm-12{width:100%;}
        
}


// Header

// .main_nav{
// 	background-image: url('images/hero_Image.png');
// 	width:100%;
// 	height:100%;
// }

header {
    position: relative;
    width: 100%;
    height: 100%;
    // text-align: right;
    color: #fff;
    background: url("../images/heroimage.png");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .headertext{
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}
header .introtext{
  font-size:18px;
  line-height: 1.5em;
  font-weight:500;
}

.logo{
  margin-top:21px;
}
img {
    width: 100%;
    height: 100;
}

// .nav {
//   float: right;
//   // padding-top: 45px;
//   padding-right: 5px;
//   text-decoration: none;
// }
// nav ul {
//     text-decoration: none;
//     margin: 0;
//     padding: 0;
// }

// nav li {
//   display: inline-block;
//    //padding-top: 10px;
//   padding: 0 20px 0 0;
//   font-size: 16px;
//   text-transform: uppercase;
//   text-decoration: none;
// }

// nav a {
//   color: #fff;
//   font-size: 16px;
//   margin-right: 40px;
//   text-decoration:none;
// }
// nav a:hover {
//   color: #FF8C00;
//   border-bottom:solid 3px;
//   -moz-transition: 0.4s ease;
//   -ms-transition: 0.4s ease;
//   -o-transition: 0.4s ease;
//   transition: 0.4s ease;
 
// }
// nav a:last-of-type {
//   margin-right: 0;
// }

nav ul{
  // background-color:#43a286;
  overflow: hidden;
  color:white;
  padding:0;
  margin: 0;
  text-align:center;
  -webkit-transition: max-height 0.4s;
  -ms-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  transition: max-height 0.4s;
  }
a{
  text-decoration:none;
  color:inherit;
}
nav ul li{
    display: inline-block;
    padding: 20px;
  }
nav ul li:hover{
  color: #FF8C00;
  // border-bottom:solid;
  
}

.handle{
  width: 100%;
  // background: #000;
  text-align: right;
  box-sizing:border-box;
  padding: 15px 10px;
  margin:0;
  cursor: pointer;
  color:#ececec;
  display: none;
}


.header-content{
  padding-top: 0px;
}

.button-1{
  width:140px;
  height:50px;
  border:2px solid #c0392b;
  float:center;
  text-align:center;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
  margin-left:25px;
}
.button-1 a{
  // font-family:arial;
  font-size:16px;
  color:#fff;
  text-decoration:none;
  line-height:50px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
}
.button-1:hover a{
  color:#000;
}


@media screen and (max-width: 900px){
  nav ul{
    max-height: 0px;
  }
  .showing{
    max-height: 20em;
  }
  nav ul li{
    box-sizing:border-box;
    width:100%;
    padding:10px;
    text-align: right;
    }



  .handle{
    display:block;
  }
}

//Footer

.container {
  margin: 0 auto;
  max-width: 767px;
  padding: 1em 0;
  width: 90%;
}
.footer {
  background-color: #c8c8c8;
  width:100%;
  height:10%; //your desired height
  position:absolute;
  
  left:0;
  
  
}



